section{
	max-width:480px;
}

form{
	width:100px;
}

.gallery{
	margin-bottom:30px;
}

blockquote{
	padding:0;
}

.ng-invalid.ng-dirty{
	border-color:#fa787e;
}
.ng-valid.ng-dirty{
	border-color:#78fa89;
}